In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

2024-08-25 21:14:41.885334: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-08-25 21:14:41.891506: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-25 21:14:41.952389: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-25 21:14:42.015943: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-08-25 21:14:42.087607: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-08-25 21:14:42.108081: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-08-25 21:14:42.201650: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-08-25 21:14:43.522015: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [3]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [17]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [7]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])

In [8]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [16]:
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [18]:
# data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)
# data.head()
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [23]:
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']
# splittig the features into training and testing sets
x = pd.get_dummies(x, drop_first=True)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
# scale this feautres
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [46]:
with open('scaler_reg.pkl','wb') as file:
  pickle.dump(scaler, file)

In [24]:
# train the model with Regression neural network
import tensorflow as tf #type:ignore
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Input
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [28]:
model=Sequential([
  Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
  Dense(32,activation='relu'),
  Dense(1)
        #  no activationg for regression default linear activation
])

model.compile(optimizer="adam",loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [30]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir='regressionlogs/fit/'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callbacks=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [31]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10,restore_best_weights=True)

In [32]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

# Define EarlyStopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Optionally, define ModelCheckpoint callback
model_checkpoint = ModelCheckpoint('my_model.keras', monitor='val_loss', save_best_only=True)

In [33]:
history=model.fit(
  x_train,y_train,validation_data=(x_test,y_test),epochs=100,
  callbacks=[tensorflow_callbacks,early_stopping]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 99955.9375 - mae: 99955.9375 - val_loss: 98427.4219 - val_mae: 98427.4219
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99612.2031 - mae: 99612.2031 - val_loss: 96328.4844 - val_mae: 96328.4844
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97063.5000 - mae: 97063.5000 - val_loss: 91098.1328 - val_mae: 91098.1328
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 90355.0000 - mae: 90355.0000 - val_loss: 82810.5781 - val_mae: 82810.5781
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 82626.1172 - mae: 82626.1172 - val_loss: 72851.2500 - val_mae: 72851.2500
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 72823.7500 - mae: 72823.7500 - val_loss: 63648.0312 - val_mae: 63648.0312
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 62050.8750 - mae: 62050.8750 - val_loss: 56865.4727 - val_mae: 56865.4727
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 56456.5820 - mae: 56456.5820 - val_loss: 53037.5742 - val_mae: 53037.5742
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 53108.5469 - mae: 53108.5469 - val_loss: 51520.5508 - val_mae: 51520.5508
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51543.1055 - mae: 51543.1055 - val_loss: 50992.1289 - val_mae: 50992.1289
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51026.0898 - mae: 51026.0898 - val_loss: 50818.7578 - val_mae: 50818.7578
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50221.7578 - mae: 50221.7578 - val_loss: 50745.5586 - val_mae: 50745.5586
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49763.0547 - mae: 49763.0547 - val_loss: 50690.6719 - val_mae: 50690.6719
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50325.6680 - mae: 50325.6680 - val_loss: 50629.7266 - val_mae: 50629.7266
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50070.9336 - mae: 50070.9336 - val_loss: 50572.0898 - val_mae: 50572.0898
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50124.0156 - mae: 50124.0156 - val_loss: 50545.9375 - val_mae: 50545.9375
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49568.3945 - mae: 49568.3945 - val_loss: 50498.3672 - val_mae: 50498.3672
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49849.9688 - mae: 49849.9688 - val_loss: 50459.9062 - val_mae: 50459.9062
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50050.3594 - mae: 50050.3594 - val_loss: 50438.5156 - val_mae: 50438.5156
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50453.7617 - mae: 50453.7617 - val_loss: 50406.0039 - val_mae: 50406.0039
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50089.9062 - mae: 50089.9062 - val_loss: 50369.5586 - val_mae: 50369.5586
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49862.4766 - mae: 49862.4766 - val_loss: 50346.4922 - val_mae: 50346.4922
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49631.9805 - mae: 49631.9805 - val_loss: 50336.9805 - val_mae: 50336.9805
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49557.2773 - mae: 49557.2773 - val_loss: 50313.4297 - val_mae: 50313.4297
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50170.1680 - mae: 50170.1680 - val_loss: 50297.0430 - val_mae: 50297.0430
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49687.5195 - mae: 49687.5195 - val_loss: 50275.5938 - val_mae: 50275.5938
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49603.6328 - mae: 49603.6328 - val_loss: 50259.0273 - val_mae: 50259.0273
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49609.9297 - mae: 49609.9297 - val_loss: 50257.0469 - val_mae: 50257.0469
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49789.5664 - mae: 49789.5664 - val_loss: 50255.0234 - val_mae: 50255.0234
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50064.7109 - mae: 50064.7109 - val_loss: 50232.2148 - val_mae: 50232.2148
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49435.6367 - mae: 49435.6367 - val_loss: 50228.7578 - val_mae: 50228.7578
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49623.4414 - mae: 49623.4414 - val_loss: 50220.5117 - val_mae: 50220.5117
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49569.9883 - mae: 49569.9883 - val_loss: 50218.3281 - val_mae: 50218.3281
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49602.3438 - mae: 49602.3438 - val_loss: 50199.9102 - val_mae: 50199.9102
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49593.4961 - mae: 49593.4961 - val_loss: 50206.4961 - val_mae: 50206.4961
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48725.0352 - mae: 48725.0352 - val_loss: 50214.5000 - val_mae: 50214.5000
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49555.8008 - mae: 49555.8008 - val_loss: 50200.5625 - val_mae: 50200.5625
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49187.8359 - mae: 49187.8359 - val_loss: 50205.7227 - val_mae: 50205.7227
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49135.6914 - mae: 49135.6914 - val_loss: 50195.3164 - val_mae: 50195.3164
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49688.7031 - mae: 49688.7031 - val_loss: 50184.6445 - val_mae: 50184.6445
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49165.3594 - mae: 49165.3594 - val_loss: 50206.1055 - val_mae: 50206.1055
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49551.0430 - mae: 49551.0430 - val_loss: 50200.1094 - val_mae: 50200.1094
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49053.9727 - mae: 49053.9727 - val_loss: 50216.6680 - val_mae: 50216.6680
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49619.8867 - mae: 49619.8867 - val_loss: 50209.8750 - val_mae: 50209.8750
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49571.7656 - mae: 49571.7656 - val_loss: 50207.7734 - val_mae: 50207.7734
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49499.6328 - mae: 49499.6328 - val_loss: 50207.5117 - val_mae: 50207.5117
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49629.1680 - mae: 49629.1680 - val_loss: 50208.5625 - val_mae: 50208.5625
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50097.4688 - mae: 50097.4688 - val_loss: 50204.8906 - val_mae: 50204.8906
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49627.5234 - mae: 49627.5234 - val_loss: 50200.6914 - val_mae: 50200.6914
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49600.0742 - mae: 49600.0742 - val_loss: 50209.5352 - val_mae: 50209.5352

In [38]:
# evaluate the model
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [42]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6006 (pid 8663), started 0:00:04 ago. (Use '!kill 8663' to kill it.)

In [44]:
# eval model on test data
test_loss,test_mae=model.evaluate(x_test,y_test)
print(f"test mae :{test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 704us/step - loss: 50923.0039 - mae: 50923.0039
test mae :50184.64453125

In [45]:
# savemodel 
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.